 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  width: 50%;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  align-self: center;
  margin: 39px auto 47px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 398px;
  width: 570px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
}