.u-section-1 .u-sheet-1 {
  min-height: 537px;
}

.u-section-1 .u-table-1 {
  margin: 130px auto 57px 0;
}

.u-block-8170-46 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-block-8170-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 957px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-table-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
}

.u-block-6864-36 {
  height: 46px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 104px auto 0 60px;
}

.u-section-2 .u-text-2 {
  margin: -28px 67px 0 auto;
}

.u-section-2 .u-text-3 {
  text-align: left;
  margin: 27px auto 0 60px;
}

.u-section-2 .u-text-4 {
  text-align: left;
  margin: -28px 74px 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 62px 42px 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 42px;
  padding: 8px 33px;
}

.u-section-2 .u-icon-1 {
  width: 39px;
  height: 39px;
  margin: 42px auto 0 66px;
}

.u-section-2 .u-icon-2 {
  width: 39px;
  height: 39px;
  margin: -39px auto 0 138px;
}

.u-section-2 .u-icon-3 {
  width: 39px;
  height: 39px;
  margin: -39px 105px 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 39px;
  height: 39px;
  margin: -39px 42px 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 124px 105px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 446px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 169px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -59px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -185px;
    margin-left: 74px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 127px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 172px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 74px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 60px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 20px;
    margin-left: 74px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 74px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -28px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -59px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -39px;
    margin-right: 126px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 78px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 20px;
    margin-right: 78px;
  }
}